*{
    margin: 0;
    padding: 0;
}
.input-area{
    width: 42%;
    margin: auto;
    padding-bottom: 30px;
}
.input-area input{
    padding: 10px 100px;
    border-radius: 7px;
}

h1{
    text-align: center;
    font-size: 40px;
}
section{
    background-color: rgb(197, 180, 238);
    padding: 100px;
}


.second-area{
    padding: 10px 100px;
    color: white;
    background-color: rgb(109, 70, 44);
    box-shadow: 5px 5px 10px 5px rgb(255, 255, 255);
    border-radius: 10px;
}

.country-details img{
    width: 30%;
}
p{
    font-size: 25px;
}
